*,
*::before,
*::after {
  box-sizing: border-box;
}

/*to trzeba później przerobić na motyw z mui */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Białe tło */
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important; /* Kolor tekstu */
  caret-color: auto;
  transition: background-color 5000s ease-in-out 0s;
}

/*to musi być bardzo profesjonalnie działa*/
html {
  scrollbar-gutter: stable both-edges;
}


